*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "WorkSans";
}
@font-face {
    font-family: "WorkSans";
    src: url(/Assets/fonts/WorkSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "WorkSans";
    src: url(/Assets/fonts/WorkSans-Medium.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "WorkSans";
    src: url(/Assets/fonts/WorkSans-Bold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Space";
    src: url(/Assets/fonts/SpaceMono-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Sapace";
    src: url(/Assets/fonts/SpaceMono-Bold.ttf);
    font-weight: bold;
}
button{
    transition: 0.3s;
    cursor: pointer;
}
body {
    background: rgba(43, 43, 43, 1);
}
li, a{
    list-style: none;
    text-decoration: none;
}
button, input{
    background: none;
    border: none;
    outline: none;
}
.nav__container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.nav__container-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.container__right-list {
    display: flex;
    gap: 30px;
}
.container__right-list li a {
    color: #fff;
    font-size: 16px;
}
.container__right-button a button{
    padding: 17px 45px;
    display: flex;
    color: #fff;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
    background: rgba(162, 89, 255, 1);
    border: 1px solid rgba(162, 89, 255, 1);
}
.container__right-button a button:hover {
    background: none;
}
.nav-bar{
    display: none;
}
.container__right-list li a {
    position: relative;
    transition: all 0.5s ease-in;
}
.container__right-list li a::before {
    content: "";
    position: absolute;
    width: 0; /* Start hidden */
    height: 2px;
    background: rgba(162, 89, 255, 1);
    bottom: -3px;
    left: 50%;
    transition: all 0.5s ease-in-out;
    transform: translateX(-50%);
}
.container__right-list li a:hover::before {
    width: 100%;
}
.nav-list-toggle{
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: rgba(162, 89, 255, 1);
    z-index: 1;
    width: 200px;
    height: 100vh;
    font-size: 22px;
    position: fixed;
    top: 0px;
    padding: 10px 30px;
    right: 0px;
}
.xmark {
    display: none;
    position: fixed;
    right: 10px;
    z-index: 3;
    top: 10px;
}
.xmark i {
    color: #fff;
    font-size: 22px;
}
/* Navigation end */
/* Hero begin */
.hero__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.hero__container-textBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container__textBox-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container__textBox-title h1 {
    font-size: 67px;
    color: #fff;
    font-weight: bold;    
}
.container__textBox-title p {
    font-size: 22px;
    color: #fff;
    text-transform: capitalize;
    width: 90%;
}
.container__textBox-button button{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid rgba(162, 89, 255, 1);
    padding: 19px 60px;
    background: rgba(162, 89, 255, 1);
}
.container__textBox-button{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
.container__textBox-button button:hover{
    background: none;
}
.textBox__button-salesBoxes {
    display: flex;
    gap: 30px;
}
.button__salesBoxes-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
}
.button__salesBoxes-box p:nth-child(1) {
    font-family: "Space";
    font-weight: bold;
    font-size: 28px;
}
.button__salesBoxes-box p:nth-child(2) {
    font-size: 21px;
}
.hero__container-imgBox {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.container__imgBox-bottom {
    display: flex;
    flex-direction: column;
    padding: 22px 20px;
    gap: 10px;
    width: 510px;
    height: 109px;
    background: rgba(59, 59, 59, 1);
    border-radius: 0px 0px 20px 20px;
}
.container__imgBox-bottom p{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.imgBox-bottom-avatar {
    display: flex;
    gap: 12px;
    align-items: center;
}
.imgBox-bottom-avatar small {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
/* hero end */
/* Collection begin */

.collection {
    margin-top: 80px;
}
.collection-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.collection-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.collection-title h2 {
    color: #fff;
    font-size: 38px;
}
.collection-title p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
}
.collection-boxes {
    margin-top: 60px;
    display: flex;
    gap: 40px;
}
.collection-box1 img{
    border-radius: 20px;
}
.collection-box1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.collection-box1-imgbox img {
    border-radius: 20px;
}
.collection-box1-imgbox p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 22px;
    font-family: "Space";
    font-weight: 700;
    height: 100px;
    background: rgba(162, 89, 255, 1);
    color: #fff;
    border-radius: 20px;
}
.collection-box1-imgbox {
    display: flex;
    gap: 15px;
}
.collection-box1-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.collection-box1-title h4 {
    color: #fff;
    font-size: 22px;
}
.collection-box1-title-avatar {
    display: flex;
    gap: 10px;
    align-items: center;
}
.collection-box1-title-avatar p {
    color: #fff;
    font-size: 16px;
}

.collection-box2 img{
    border-radius: 20px;
}
.collection-box2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.collection-box2-imgbox img {
    border-radius: 20px;
}
.collection-box2-imgbox p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 22px;
    font-family: "Space";
    font-weight: 700;
    height: 100px;
    background: rgba(162, 89, 255, 1);
    color: #fff;
    border-radius: 20px;
}
.collection-box2-imgbox {
    display: flex;
    gap: 15px;
}
.collection-box2-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.collection-box2-title h4 {
    color: #fff;
    font-size: 22px;
}
.collection-box2-title-avatar {
    display: flex;
    gap: 10px;
    align-items: center;
}
.collection-box2-title-avatar p {
    color: #fff;
    font-size: 16px;
}

.collection-box3 img{
    border-radius: 20px;
}
.collection-box3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.collection-box3-imgbox img {
    border-radius: 20px;
}
.collection-box3-imgbox p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 22px;
    font-family: "Space";
    font-weight: 700;
    height: 100px;
    background: rgba(162, 89, 255, 1);
    color: #fff;
    border-radius: 20px;
}
.collection-box3-imgbox {
    display: flex;
    gap: 15px;
}
.collection-box3-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.collection-box3-title h4 {
    color: #fff;
    font-size: 22px;
}
.collection-box3-title-avatar {
    display: flex;
    gap: 10px;
    align-items: center;
}
.collection-box3-title-avatar p {
    color: #fff;
    font-size: 16px;
}











@media (max-width:1400px) {
    .nav__container {
        max-width: 1200px;
        width: 100%;
    }
}

@media (max-width:1200px) {
    .nav__container {
        max-width: 980px;
        width: 100%;
    }
    .hero__container {
        max-width: 1000px;
    }
    .collection-container {
        max-width: 1000px;
    }
    .collection-box3 {
        display: none;
    }
    .collection-boxes {
        justify-content: center;
    }
    .collection-title {
        align-items: center;
    }
}


@media (max-width:980px) {
    .nav-bar {
        display: flex;
    }
    .nav__container {
        max-width: 786px;
    }
    .container__right-list {
        display: none;
    }
    .container__right-list.nav-list-active {
        display: flex !important;
    }
    .container__right-button {
        display: none;
    }
    .hero__container {
        max-width: 768px;
        justify-content: space-between;
    }
    .hero__container-textBox {
        width: 500px;
    }
    .hero__container-imgBox img{ 
        width: 100%;
    }
    .container__imgBox-bottom {
        width: 100%;
    }
    .imgBox-bottom-avatar img{
        width: 20px;
    }
    .container__textBox-title h1 {
        font-size: 45px ;
    }
    .container__textBox-title p {
        font-size: 18px;
        width: 70%;
    }
    .container__textBox-button button {
        padding: 15px 30px;
    }
    .button__salesBoxes-box p:nth-child(1){ 
        font-size: 20px;
    }
}

@media (max-width:768px) {
    .nav__container {
        max-width: 600px;
    }
    .hero__container {
        max-width: 600px;
    }
    .button__salesBoxes-box p:nth-child(2) {
        font-size: 15px;
    }
    .collection-box2 {
        display: none;
    }

}

@media (max-width:600px) {
    .nav__container {
        max-width: 400px;
    }
    .hero__container {
        max-width: 400px;
        justify-content: center;
        flex-direction: column;
    }
    .hero__container-textBox {
        overflow: hidden;
        max-width: 400px;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .container__textBox-title p {
        width: 100%;
    }
    .container__textBox-button{
        align-items: center;
    }
    .collection-title  {
        text-align: center;
    }
    .collection-title h2 {
        font-size: max(20px, 32px);
    }
    .collection-title p {
        font-size: min(18px, 22px);
    }
}

@media (max-width:420px) {
    .hero__container-textBox {
        overflow: hidden;
        max-width: 320px;
    }
    .hero__container-imgBox {
        overflow: hidden;
        max-width: 300px;
    }
    .container__textBox-title h1 {
        font-size: 38px;
    }
    .container__textBox-title p {
        font-size: 15px;
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width:400px) {
    .nav__container {
        max-width: 320px;
    }
}

@media (max-width:350px) {
    .collection-title p{ 
        font-size: 18px;
    }
    .collection-box1 img {
        width: 310px !important ;
    } 
    .collection-box1-imgbox img, .collection-box1-imgbox p {
        width: 90px !important;
    }
    .collection-box1-title-avatar {
        width: 24px;
        height: 24px;
    }
}