*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "WorkSans";
}
@font-face {
    font-family: "WorkSans";
    src: url(/Assets/fonts/WorkSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "WorkSans";
    src: url(/Assets/fonts/WorkSans-Medium.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "WorkSans";
    src: url(/Assets/fonts/WorkSans-Bold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Space";
    src: url(/Assets/fonts/SpaceMono-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Sapace";
    src: url(/Assets/fonts/SpaceMono-Bold.ttf);
    font-weight: bold;
}
button{
    transition: 0.3s;
    cursor: pointer;
}
body {
    background: rgba(43, 43, 43, 1);
}
li, a{
    list-style: none;
    text-decoration: none;
}
button, input{
    background: none;
    border: none;
    outline: none;
}
.nav__container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.nav__container-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.container__right-list {
    display: flex;
    gap: 30px;
}
.container__right-list li a {
    color: #fff;
    font-size: 16px;
}
.container__right-button a button{
    padding: 17px 45px;
    display: flex;
    color: #fff;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
    background: rgba(162, 89, 255, 1);
    border: 1px solid rgba(162, 89, 255, 1);
}
.container__right-button a button:hover {
    background: none;
}
.nav-bar{
    display: none;
}
.nav-list-toggle{
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #000;
    z-index: 100;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
}
/* Navigation end */
/* Hero begin */
.hero__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.hero__container-textBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container__textBox-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container__textBox-title h1 {
    font-size: 67px;
    color: #fff;
    font-weight: bold;    
}
.container__textBox-title p {
    font-size: 22px;
    color: #fff;
    text-transform: capitalize;
    width: 90%;
}
.container__textBox-button button{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid rgba(162, 89, 255, 1);
    padding: 19px 60px;
    background: rgba(162, 89, 255, 1);
}
.container__textBox-button{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
.container__textBox-button button:hover{
    background: none;
}
.textBox__button-salesBoxes {
    display: flex;
    gap: 30px;
}
.button__salesBoxes-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
}
.button__salesBoxes-box p:nth-child(1) {
    font-family: "Space";
    font-weight: bold;
    font-size: 28px;
}
.button__salesBoxes-box p:nth-child(2) {
    font-size: 21px;
}
.hero__container-imgBox {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.container__imgBox-bottom {
    display: flex;
    flex-direction: column;
    padding: 22px 20px;
    gap: 10px;
    width: 510px;
    height: 109px;
    background: rgba(59, 59, 59, 1);
    border-radius: 0px 0px 20px 20px;
}
.container__imgBox-bottom p{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.imgBox-bottom-avatar {
    display: flex;
    gap: 12px;
    align-items: center;
}
.imgBox-bottom-avatar small {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}












@media (max-width:1400px) {
    .nav__container {
        max-width: 1200px;
        width: 100%;
    }
}

@media (max-width:1200px) {
    .nav__container {
        max-width: 980px;
        width: 100%;
    }
    .hero__container {
        max-width: 1000px;
    }
}

@media (max-width:980px) {
    .nav-bar {
        display: flex;
    }
    .nav__container {
        max-width: 786px;
    }
    .container__right-list {
        display: none;
    }
    .container__right-list.nav-list-active {
        display: flex !important;
    }
    .container__right-button {
        display: none;
    }
    .hero__container {
        max-width: 768px;
        justify-content: space-between;
    }
    .hero__container-textBox {
        width: 500px;
    }
    .hero__container-imgBox img{ 
        width: 100%;
    }
    .container__imgBox-bottom {
        width: 100%;
    }
    .imgBox-bottom-avatar img{
        width: 20px;
    }
    .container__textBox-title h1 {
        font-size: 45px ;
    }
    .container__textBox-title p {
        font-size: 18px;
        width: 70%;
    }
    .container__textBox-button button {
        padding: 15px 30px;
    }
    .button__salesBoxes-box p:nth-child(1){ 
        font-size: 20px;
    }
}

@media (max-width:768px) {
    .nav__container {
        max-width: 600px;
    }
    .hero__container {
        max-width: 600px;
    }
    .button__salesBoxes-box p:nth-child(2) {
        font-size: 15px;
    }
}

@media (max-width:600px) {
    .nav__container {
        max-width: 400px;
    }
    .hero__container {
        max-width: 400px;
        justify-content: center;
        flex-direction: column;
    }
    .hero__container-textBox {
        overflow: hidden;
        max-width: 400px;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .container__textBox-title p {
        width: 100%;
    }
    .container__textBox-button{
        align-items: center;
    }
}

@media (max-width:420px) {
    .hero__container-textBox {
        overflow: hidden;
        max-width: 320px;
    }
    .hero__container-imgBox {
        overflow: hidden;
        max-width: 300px;
    }
    .container__textBox-title h1 {
        font-size: 38px;
    }
    .container__textBox-title p {
        font-size: 15px;
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width:400px) {
    .nav__container {
        max-width: 320px;
    }
}